
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Dosis:200,300,400,600");

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");


$brand-primary: #51acd6 !default; //#54646d !default; // #337ab7
$brand-success: #8fda82 !default;
$brand-info: #617cab !default;
$brand-warning: #fbe585 !default;
$brand-danger: #fa5b60 !default;


/* Space out content a bit */
body {
  padding-top: 10px;
  padding-bottom: 10px;
  //font-family: 'Maitree', serif;
  font-family: 'Dosis', sans-serif;
  //font-family: 'PT Sans', sans-serif;
  //font-family: 'Open Sans', sans-serif;
}

.header-title {
  font-size: 55px;
  font-weight: 100;
  font-family: 'Quicksand', sans-serif;
}


/* Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {

  .header-title {
    font-size: 30px;
  }
}
*/

@media (max-width: 320px) {
  .header-title {
    font-size: 30px;
  }
}

@media (max-width: 640px) {
  .header-title {
    font-size: 35px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .header-title {
    font-size: 45px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1320px;
  }

  .header-title {
    font-size: 55px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 1320px) {
  .container {
    max-width: 1920px;
  }

  .header-title {
    font-size: 65px;
  }
}

.emma-full-bg {
  background-image: url('../images/emma-net-300.png');
  background-repeat: no-repeat;
  background-position: 20px 0px;
}
.translucent {
  background-image: url('../images/translucent.png');
}


.emma-header {
  padding-left: 0px;
  padding-right: 16px;
  padding-bottom: 85px;
  padding-top: 197px;

}
.emma-header-clipped {
  padding-left: 0px;
  padding-top: 33px;
  /* padding-right: 16px; */
  padding-bottom: 85px;
}

.my-table-header {
  background-color:#F7F9F9;
}
.my-table-col1 {
  width: 40%
}
.my-table-col2 {
  width: 20%
}
.my-table-col3 {
  width: 20%
}

.section-header {
  margin-top:30px;
  margin-bottom: 30px;
}
.avatar-text{
  margin: 10px;
  font-size: 24px;
  font-weight: 400;
  margin-top: 50px;
  margin-bottom: 50px;
}


.version-table {
  padding-bottom: 50px;
}

.noBullets {
  list-style: none;
  padding: 10px 10px 20px 10px;
}

.footer {
  color: #486585 !important;
}

.spaced-list {
  line-height: 120%;
}

h2 {
  font-weight: 100;
  font-family: 'Quicksand', sans-serif;
}

pre {
  color: #083b58;;
  background-color: #eaf2f5;
  font-family: 'Quicksand', sans-serif;
  font-size: 11.5px;
  font-weight: 300;
}

.boldli {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 800;
  line-height: 150%;

}

.scrollable-panel {
  min-height: 100px;
  max-height: 300px;
  overflow-y: scroll;
}

.conversation-header {
  font-size: 20px;
  vertical-align: -12%;
}

.invisible {
  display:none;
}
